<div id="footer">
<div>
    <ul class="navigation">
        <li id="_f_button">
            <a href='/'>Home</a>
        </li>
        <li id="travel_f_button">
            <a href='/travel'>Travel</a>
        </li>
        <li id="rooms_f_button">
            <a href='/rooms'>Rooms</a>
        </li>
        <li id="meals_f_button">
            <a href='/meals'>Meals</a>
        </li>
        <li id="news_f_button">
            <a href='/news'>News</a>
        </li>
        <li id="about_f_button">
            <a href='/about'>About</a>
        </li>
        <li id="contact_f_button">
            <a href='/contact'>Contact</a>
        </li>
    </ul>
    <div id="connect">
        <a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a> <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
    </div>
</div>
<p>
    © 2023 by SNHU CS465 Craig O'Loughlin
</p>
</div>